{% extends 'base.html.twig' %}

{% block title %}Modifier info stagiaire: {{ student }}{% endblock %}

{% block body %}
    <section class="container">
            {{ form(formEditStudent) }}
    </section>

{% endblock %}
