{% extends 'base.html.twig' %}

{% block title %}Listes des formations{% endblock %}

{% block body %}
    <h1>Listes des formations</h1> 
        {% for formation in formations %}
            <a href="{{ path('app_session') }}">{{ formation.name }}: {{ formation.sessions|length }}</a><br>  
{% endfor %}
{% endblock %}
