* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}


:root {
    --primary-color: #006D77;
    --secondary-color: #83C5BE;
    --border: 1px solid #006D77;
    --box-shadow: 10px 4px 100px 30px #006D77;
    --border-radius: 42px;

}

h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--primary-color);
}

h2 {
    font-size: 35px;
    font-weight: 600;
}

input {
    margin: 15px;
    border-radius: 5px;
    border: 1px solid rgb(0, 109, 119, 0.3);
}



.button-submit {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 20px;
    margin: 20px auto 0 auto;
    width: fit-content;
    &:hover {
        background-color: #83C5BE;
        color: white;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
   
/* HOME *****************************************************/
header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        margin-right: 50px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 50px;
        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
            margin-left: 20px;
            &:hover {
                color: #83C5BE;
            }
        }
    }
}


/* LISTE STAGIAIRE *************************************************************** */
.student-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    h1 {
        color: var(--primary-color);
        margin-bottom: 50px;
    }
    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 20px;
        &:hover {
            color: #83C5BE;
        }
    }
}

.student-add {
    padding: 50px;
    margin: 200px auto;
    border: var(--border);  
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 50%;
    h2 {
        margin-bottom: 20px;
        text-align: center;
    }
}


/* FICHE STAGIAIRE ********************************************************************************* */
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 50px;
    margin: 200px auto;
    border: var(--border);  
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
        h1 {
        margin-bottom: 30px;
        text-align: center;
        color: var(--primary-color);   
        font-size: 50px;
    }
    button {  
        background-color: var(--primary-color);
        border: none;
        padding: 10px 20px;
        border-radius: var(--border-radius);
        cursor: pointer;
        font-size: 20px;
        margin: 20px auto 0 auto;
        width: fit-content;
        &:hover {
            background-color: #83C5BE;
            color: white;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
    }


.student {
    display: flex;
    margin-bottom: 50px;
}

.infos-student {
    margin-right: 50px;
    figure {
        display: flex;
        img {
            margin-right: 10px;                
            margin-bottom: 10px;        
    
        }
    }
}

.sessions-student {
        figure {
        display: flex;
        figcaption {
            margin-left: 10px;
            font-size: 30px;
            font-weight: 300;
            font-style: italic;
        }
        img {
            margin-right: 10px;      
        }
    }
    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 20px;
        &:hover {
            color: #83C5BE;
        }
    }
}

/* LISTE SESSION ********************************************************************* */

.list-sessions {
    margin: 50px;
    h1 {
        margin-bottom: 50px;
        text-align: center;
        color: var(--primary-color);
    }
}

.table {
  width: 100%;
  border: 1px solid #dee2e6;
}

.table th,
.table td {
    border-collapse: collapse;
    border: 1px solid #1d1e1f;
    padding: 0.75rem;
    text-align: left;
        a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 20px;
        &:hover {
            color: #83C5BE;
        }
        }
}

.table thead {
    background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-striped tbody tr:hover {
    background-color: #aed1f4;
}

.row {

}

/* SESSION DETAIL ********************************************************************* */
.session-detail {
    h1 {
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        font-style: italic;
    }
    table {
        margin: 50px auto;
        border-collapse: collapse;
        width: 80%;
        th, td {
            border: var(--border);
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: var(--primary-color);
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }
}

.students-in-session{    
    text-align: center;
    h3 {
        font-size: 25px;
        font-weight: 300;
        font-style: italic;
    }
    h4 {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 600;
    }
    h5 {
        margin: 20px auto 10px auto;
        font-size: 25px;
        font-weight: 300;
        font-style: italic;
    }
    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 20px;
        &:hover {
            color: #83C5BE;
        }
    }   
}

.register-to-session {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    h1 {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 300;
        font-style: italic;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input[type="text"] {
            width: 300px;
            padding: 10px;
            border-radius: var(--border-radius);
            border: var(--border);
            margin-bottom: 20px;
        }
        input[type="submit"] {
            background-color: var(--primary-color);
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: var(--border-radius);
            cursor: pointer;
            &:hover {
                background-color: #83C5BE;
                color: white;
            }
        }
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}