{% extends 'base.html.twig' %}

{% block title %}Modifier info session: {{ session }}{% endblock %}

{% block body %}
    <section class="container">
            {{ form(formEditSession) }}
    </section>

{% endblock %}
