{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block body %}
    {# <section class="container">
            {{ form(formAddSession) }}
    </section> #}

{% endblock %}
